@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
}


@keyframes slide-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-slide-left {
  display: flex;
  animation: slide-left 20s linear infinite;
}

/* Puedes ajustar el estilo si es necesario */
.Toastify__toast-container {
  font-family: Arial, sans-serif;
}

.Toastify__toast--success {
  background: #4caf50;
}

.Toastify__toast--info {
  background: #2196f3;
}
